<launch>

   <include if="$(arg interactive_manipulation)" file="$(find pr2_interactive_manipulation)/launch/pr2_interactive_manipulation_robot.launch">
        <arg name="nav" value="true"/>
   </include>

   <include file="$(find rcommander_pr2_gui)/launch/rcommander_robot.launch">
        <arg name="interactive_manipulation" value="false"/>
        <arg name="maps" value="false"/>
   </include>

</launch>
